/*
  SPACING SYSTEM (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

  FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 /
  36 / 44 / 52 / 62 / 74 / 86 / 98
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  color: #343a40;
  font-size: 24px;
  height: 100vh;

  text-align: center;
  font-weight: bold;

  display: grid;
  grid-template-columns: 80px 400px 1fr 250px;
  grid-template-rows: 80px 1fr;
}
nav,
aside,
section,
main {
  padding-top: 20px;
}
nav {
  background-color: #343a40;
  grid-row: 1/-1;
  color: #fff;
}
menu {
  background-color: #7048e8;
  color: #fff;
  grid-column: 2/-1;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 40px;
}
button {
  font-size: 16px;
  font-weight: bold;
  background-color: #5f3dc4;
  cursor: pointer;
  border: none;
  color: #fff;
  padding: 8px 16px;

  display: inline-block;
}
section {
  background-color: #e9ecef;
}
aside {
  background-color: #e9ecef;
}
