<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hero Section</title>
  </head>
  <body>
    <header>
      <nav>
        <div>LOGO</div>
        <div>NAVIGATION</div>
      </nav>

      <div>
        <h1>A healthy meal delivered to your door, every single day</h1>
        <p>
          The smart 365-days-per-year food subscription that will make you eat
          healthy again. Tailored to your personal tastes and nutritional needs.
        </p>
        <a href="#" class="btn">Start eating well</a>
      </div>
    </header>

    <section>
      <div>
        <h2>Some random heading</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus
          repudiandae hic, expedita velit sapiente labore quia dolores
          recusandae minus? Ad unde voluptatibus, assumenda quaerat explicabo
          aliquam quis id eaque officiis! Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Sint beatae sequi laboriosam voluptatem ad incidunt
          iste et excepturi fuga! Quisquam deleniti provident facere fuga neque
          asperiores incidunt qui amet officia.
        </p>
      </div>
    </section>
  </body>
</html>
