/* 
- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 
30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 
48 / 64 / 80 / 96 / 128 
*/

/***********************************/
/* BELOW 700px (44em) */
/***********************************/

@media (max-width: 44em) {
  h1 {
    font-size: 3rem;
  }
  main {
    flex-direction: column;
  }
  .guess {
    margin-top: 6rem;
    margin-bottom: 2rem;
  }
  .right {
    width: 35rem;
  }
  .message {
    margin-bottom: 4rem;
  }
  .btn {
    margin-bottom: 2rem;
    padding: 1.5rem 2.5rem;
  }
}

/***********************************/
/* BELOW 544px (34em) (Phones) */
/***********************************/

@media (max-width: 34em) {
  h1 {
    font-size: 2.5rem;
  }
  .between {
    font-size: 1rem;
    right: 0.5rem;
  }
  .again {
    left: 0.5rem;
  }
  .guess {
    width: 15rem;
    font-size: 3rem;
    margin-bottom: 1.5rem;
    margin-top: 6rem;
  }
  .btn {
    padding: 1rem 2rem;
  }
}
