body {
  border: solid 3px black;
  font-family: sans-serif;
  line-height: 1.4;
}
h2 {
  text-align: center;
  background-color: #f7f7f7;
  font-size: 16px;
}
.price {
  font-size: 24px;
}
.free {
  color: #777;
  font-size: 12px;
}
.upper {
  text-transform: uppercase;
}
.list {
  list-style: square;
}
.btn {
  background-color: black;
  color: white;
}
.btn:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  border: none;
}
.More-info:link,
.More-info:visited {
  color: black;
}
.More-info:hover,
.More-info:active {
  text-decoration: none;
}
