* {
  margin: 0;
  padding: 0;
}
.upper {
  text-transform: uppercase;
}
.full-body {
  width: 700px;
  margin: 50px auto;
  border: solid 3px black;
}
body {
  font-family: sans-serif;
  line-height: 1.4;
}
h2 {
  text-align: center;
  background-color: #f7f7f7;
  font-size: 16px;
  padding: 15px;
  position: relative;
}
h2::before {
  content: "SALE";
  background-color: rgb(255, 0, 0);
  color: white;
  font-weight: bold;
  position: absolute;
  top: -15px;
  left: -35px;
  display: inline-block;
  padding: 2px 10px;
  letter-spacing: 2px;
}
.price {
  font-size: 24px;
}
.free {
  color: #777;
  font-size: 12px;
  margin-bottom: 15px;
}
.para {
  margin-bottom: 15px;
}
.prod {
  margin-top: 30px;
  margin-bottom: 15px;
}
.More-info:link,
.More-info:visited {
  color: black;
  margin-bottom: 30px;
  display: inline-block;
}
.More-info:hover,
.More-info:active {
  text-decoration: none;
}
.box {
  height: 20px;
  width: 20px;
  display: inline-block;
  background-color: black;
  margin-right: 10px;
}
.bluebox {
  background-color: blue;
}
.greenbox {
  background-color: green;
}
.yellowbox {
  background-color: yellow;
}
.brownbox {
  background-color: brown;
}
.redbox {
  background-color: red;
}
.list li {
  list-style: square;
  margin-left: 20px;
  margin-bottom: 10px;
}
/* li {
  margin-bottom: 10px;
} */
.btn {
  background-color: black;
  color: white;
  padding: 15px;
  border-top: solid 3px black;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
}
.btn:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
